{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<script src="{% static 'activities/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery.jqGrid.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/i18n/grid.locale-en.js' %}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/ui.jqgrid.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/redmond/jquery-ui-1.10.3.custom.css' %}" />

<form id="data_form" action='{% url "export_csv" %}' method="post">

<a id="logoff" href="#">Log Off</a>
{% if user.is_superuser %}
<a id="export_csv" href="#">Export CSV</a>
<a id="show_missing_user_data" href="#">Show pending users</a>
<p>
{% else %}
<a id="validate_csv" href="#">Validate my data</a>
<a id="generate_entries" href="#">Generate period entries</a>
<p>
{% endif %}
Report start date: <input type="text" name="report_start_date" id="report_start_date">
Report end date: <input type="text" name="report_end_date" id="report_end_date">

{{ userform.as_p }}

<table id="tactivity"></table>
<div id="pager"></div>

</form>

<script type="text/javascript">
var lastsel = null;

$("#id_users").change(function()
{
    $("#tactivity").trigger("reloadGrid");
});

Date.prototype.addDays = function(days) {
    var dat = new Date(this.valueOf())
    dat.setDate(dat.getDate() + days);
    return dat;
}

Date.prototype.yyyymmdd = function() {
    var yyyy = this.getFullYear().toString();
    var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based
    var dd  = this.getDate().toString();
    return yyyy + "-" + (mm[1]?mm:"0"+mm[0]) + "-" + (dd[1]?dd:"0"+dd[0]); // padding
}

var date = new Date();
var dayOfWeek = date.getDay();

$( "#report_start_date" ).datepicker({
  defaultDate: "0",
  changeMonth: true,
  numberOfMonths: 1,
  dateFormat: 'yy-mm-dd',
  onClose: function( selectedDate ) {
    $( "#report_end_date" ).datepicker( "option", "minDate", selectedDate );
    $("#tactivity").trigger("reloadGrid");
  }
});

$( "#report_end_date" ).datepicker({
  defaultDate: "+1w",
  changeMonth: true,
  numberOfMonths: 1,
  dateFormat: 'yy-mm-dd',
  onClose: function( selectedDate ) {
    $( "#report_start_date" ).datepicker( "option", "maxDate", selectedDate );
    $("#tactivity").trigger("reloadGrid");
  }
});

$("#report_start_date").datepicker("setDate", date.addDays(1 - dayOfWeek));
$("#report_end_date").datepicker("setDate", date.addDays(5 - dayOfWeek));

function getDates(startDate, stopDate) {
    customParseFromString = function(date_string) {
        var parts = date_string.split('-');
        return new Date(parts[0],parts[1]-1,parts[2]);
    }

    startDate = new Date(customParseFromString(startDate)).addDays(1);
    stopDate = new Date(customParseFromString(stopDate));

    var dateArray = new Array();
    var currentDate = startDate;
    while (currentDate <= stopDate) {
        dateArray.push( new Date (currentDate) )
        currentDate = currentDate.addDays(1);
    }
    return dateArray;
}

function generateReportEntries() {
    selRowId = jQuery("#tactivity").jqGrid('getGridParam','selrow');
    rowId = "new";
    rowData = $("#tactivity").getRowData(selRowId);
    var staticRowData = JSON.parse(JSON.stringify(rowData));

    //generate the date array
    dateArray = getDates(rowData.date, $("#report_end_date").datepicker("getDate").yyyymmdd());

    for(var i = 0 ; i < dateArray.length ; i++) {
        staticRowData.date = dateArray[i].yyyymmdd();
        jQuery("#tactivity").jqGrid('addRow',
                                    {
                                      rowID: rowId,
                                      initdata: staticRowData,
                                      position :"first",
                                      useDefValues : false,
                                      useFormatter : false,
                                      addRowParams : {extraparam:{}},
                                    }
                                   );

        jQuery("#tactivity").jqGrid('saveRow', rowId, reloadGrid, '{% url "grid_handle" %}', {"srcid": staticRowData.id, "iscopy": "True"});
    }

    $("#tactivity").trigger("reloadGrid");
}

function userNameFormatter(cellValue, options, rowObject)
{
    if (cellValue == null)
    {
        return rowObject.user__first_name + ' ' + rowObject.user__last_name;
    }
    
    return cellValue;
}

function reloadGrid(rowid, result)
{
    $("#tactivity").trigger("reloadGrid");
}

$("#logoff").button();

$("#logoff").click(function()
                        { 
                            window.location = '{% url "logoff" %}';
                        }
);

$("#export_csv").button();

$("#export_csv").click(function()
                        { 
                            document.forms['data_form'].submit();
                        }
);

$("#validate_csv").button();

$("#validate_csv").click(function()
                        { 
                            window.location = '{% url "validate_csv" %}';
                        }
);

$("#show_missing_user_data").button();

$("#show_missing_user_data").click(function()
                {
                    data_form = document.forms['data_form'];
                    data_form.action = '{% url "show_users" %}';
                    data_form.submit();
                    //window.location = '{% url "show_users" %}'
                }
);

$("#generate_entries").button();
$("#generate_entries").button("disable");
$("#generate_entries").click(generateReportEntries);

jQuery("#tactivity").jqGrid({
   	url:"{% url 'grid_config' %}",
	datatype: "json",
   	colNames:['Id', 'User', 'Project', 'Activity', 'Date', 'Comments', 'Period'],
   	colModel:[
        {name:'id', index:'record', editable:true, hidden:true, edithidden:false},
   	    {name:'user_id', index:'user', formatter: userNameFormatter, width:120, sortable:true, editable:true, edittype:'select', editoptions:{dataUrl:'{% url "build_user_tag" %}'}},
   	    {name:'project__name', index:'project', width:120, sortable:true, editable:true, edittype:'select', editoptions:{dataUrl:'{% url "build_tag" "Project" %}'}},
   	    {name:'activity__name', index:'activity', width:120, sortable:true, editable:true, edittype:'select', editoptions:{dataUrl:'{% url "build_tag" "Activity" %}'}},
        {
         name: 'date', index: 'date', width: 90, editable: true,
         editoptions:
         { 
            dataInit: function (element)
                      {
                          $(element).datepicker(
                          {
                              dateFormat: 'yy-mm-dd',
                          }
                          );
                      }
         },
         formatter: 'date',
         formatoptions: { srcformat: 'ISO8601Long', newformat: 'Y-m-d'},
         editrules: {date:true, required:true},
        },
   		{name:'comments', index:'comments', width:260, sortable:true,  editable:true, editrules:{required:true}},
   		{name:'period', index:'period', width:80, sortable:true, editable:true, editrules:{time:true,required:true}, formatter: 'date', formatoptions: { srcformat: 'H:i:s', newformat: 'H:i' }}
        
   	],
   	rowNum:100,
   	rowList:[10,25,50,100,200],
   	pager: '#pager',
   	sortname: 'project',
    viewrecords: true,
    sortorder: "desc",
    height: "100%",
    multiselect: true,
    multiboxonly: true,
    reloadAfterSubmit: true,
	editurl: "{% url 'grid_handle' %}",
	caption: "{% if user.is_authenticated %} User: {{ user.username }} {% else %} You're not logged in {% endif %}",
    ondblClickRow: function(id)
    {
		if (id)
        {
			jQuery('#tactivity').jqGrid('editRow', id, true);
            
            lastsel = id;
		}        
    },
	onSelectRow: function(id)
    {
        selectedRows = jQuery("#tactivity").jqGrid('getGridParam','selarrrow');
        
        if (selectedRows.length == 1)
        {
            $("#ui-btn-copy").removeClass("ui-state-disabled");
            $("#generate_entries").button("enable");
            rowData = $("#tactivity").getRowData(selectedRows[0]);
        }
        else
        {
            $("#ui-btn-copy").addClass("ui-state-disabled");
            $("#generate_entries").button("disable");
        }
	},
	postData: {
        "user": function()
        {
            return $("#id_users").val();
        },
        "start_date": function() {
            return $.datepicker.formatDate( "yy-mm-dd", $("#report_start_date").datepicker("getDate"));
        },
        "end_date": function() {
            return $.datepicker.formatDate( "yy-mm-dd", $("#report_end_date").datepicker("getDate"));
        },
	}
});

function reloadGrid(response)
{
     jQuery("#tactivity").trigger("reloadGrid");
}

function copyRows()
{
    selRowId = jQuery("#tactivity").jqGrid('getGridParam','selrow');

    rowId = "new";

    rowData = $("#tactivity").getRowData(selRowId);

    jQuery("#tactivity").jqGrid('addRow',
                                {
                                  rowID: rowId,
                                  initdata: rowData,
                                  position :"first",
                                  useDefValues : false,
                                  useFormatter : false,
                                  addRowParams : {extraparam:{}},
                                }
                               );

    jQuery("#tactivity").jqGrid('saveRow', rowId, reloadGrid, '{% url "grid_handle" %}', {"srcid": rowData.id, "iscopy": "True"});
}

jQuery("#tactivity").jqGrid('navGrid', '#pager', {search: false, refresh: false, edit:false, add:false}).jqGrid('navButtonAdd', "#pager",
                                                                                 {id: "ui-btn-copy",
                                                                                 caption: "",
                                                                                 buttonicon: "ui-icon-copy",
                                                                                 onClickButton: copyRows,
                                                                                 position: "last",
                                                                                 title: "Copy ",
                                                                                 cursor: "pointer",
                                                                                 disabled: "disabled"}
                                                                                );

$("#ui-btn-copy").addClass("ui-state-disabled");

jQuery("#tactivity").jqGrid('inlineNav', "#pager",
                                {
                                    edit: false,
                                    add: true,
                                    del: true,
                                    addParams:
                                    {
                                        addRowParams:
                                        {
                                            keys: true,
                                            successfunc: function ()
                                                         {
                                                             setTimeout(function() { reloadGrid(); }, 50);
                                                         }
                                        }
                                    },
                               }
                           );
</script>

{% endblock %}
