{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<script src="{% static 'activities/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery.jqGrid.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/i18n/grid.locale-en.js' %}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/ui.jqgrid.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/redmond/jquery-ui-1.10.3.custom.css' %}" />

<input type="hidden" id="user_id" />
<input type="hidden" id="report_start" />
<input type="hidden" id="report_end" />

<a id="back_to_grid" href="#">Back to grid</a>
{% if error_data|length > 0 %}
<h1>Errors</h1>
{% for edata in error_data %}
Activity <b>{{ edata.activity }}</b> for user <b>{{ edata.user }}</b> conflicts in date <b>{{ edata.date|date:"d/m/Y" }}</b><br>
{% endfor %}
{% else %}
{% if user.is_superuser %}
<a id="send_protrack_to_hp" href="#">Send Protrack activities to HP</a>
{% else %}
<p>
<h2>No errors were found in your entries</h2><br>
{% endif %}
{% endif %}

<p>

{% if csv_data|length > 0 %}
<h1>Generated CSV</h1>
<pre>
{% for data in csv_data %}{{ data }}
{% endfor %}
</pre>
{% endif %}

<script type="text/javascript">
$("#back_to_grid").button();

$("#user_id").val("{{ user_id }}");

$("#report_start").val("{{ report_start_date }}");

$("#report_end").val("{{ report_end_date }}");

$("#send_protrack_to_hp").button();

$("#back_to_grid").click(function()
{ 
    window.location = '{% url "grid" %}';
}
);

$("#send_protrack_to_hp").click(function()
{
    var uid = $("#user_id").val();
    var report_start = $("#report_start").val();
    var report_end = $("#report_end").val();
    var params = { user_id: uid, report_start_date: report_start, report_end_date: report_end };
    var strparams = $.param(params);
    url = '{% url "send_protrack_to_hp" %}?' + strparams;
    $.get(url);
}
);

</script>

{% endblock %}
