{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<script src="{% static 'activities/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery.jqGrid.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/i18n/grid.locale-en.js' %}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/ui.multiselect.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/ui.jqgrid.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/redmond/jquery-ui-1.10.3.custom.css' %}" />

<table id="tactivity"></table>
<div id="pager"></div>
<br />

<script type="text/javascript">
var lastsel = null;
jQuery("#tactivity").jqGrid({
   	url:"{% url 'grid_config' %}",
	datatype: "json",
   	colNames:['Id', 'User', 'Project', 'Activity', 'Date', 'Comments', 'Period'],
   	colModel:[
        {name:'id', editable:true, hidden:true, edithidden:false},
   		{name:'user__username', index:'user', width:80, editable:false},
   		{name:'project__name', index:'project', width:120, editable:true, edittype:'select', editoptions:{dataUrl:'{% url "build_tag" "Project" %}'}},
   		{name:'activity__name', index:'activity', width:120, editable:true, edittype:'select', editoptions:{dataUrl:'{% url "build_tag" "Activity" %}'}},
   		{name:'date', index:'date', width:80, editable:true},		
   		{name:'comments', index:'comments', width:260, editable:true},		
   		{name:'period', index:'period', width:80, sortable:false, editable:true}		
   	],
   	rowNum:10,
   	rowList:[10,20,30],
   	pager: '#pager',
   	sortname: 'project',
    viewrecords: true,
    sortorder: "desc",
	onSelectRow: function(id)
    {
		if (id)
        {
			jQuery('#tactivity').jqGrid('editRow', id, true);
            
            if ((lastsel) && (lastsel != id))
            {
                jQuery('#tactivity').jqGrid('saveRow', lastsel, true, '{% url "grid_edit" %}');
                /*
                if (validate_ok)
                {
                    jQuery('#tactivity').jqGrid('saveRow', lastsel, true, '{% url "grid_edit" %}');
                }
                else
                {
                    jQuery('#tactivity').jqGrid('restoreRow', lastsel);
                }
                */
            }
            
            lastsel = id;
		}
       
	},
	editurl: "{% url 'grid_edit' %}",
	caption: "{% if user.is_authenticated %} User: {{ user.username }} {% else %} You're not logged in {% endif %}"
}).navGrid("#pager", {edit:false});//{edit:false,add:false,del:false});
</script>

{% endblock %}