{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<script src="{% static 'activities/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/jquery.jqGrid.min.js' %}" type="text/javascript"></script>
<script src="{% static 'activities/js/i18n/grid.locale-en.js' %}" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/ui.jqgrid.css' %}" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'activities/css/redmond/jquery-ui-1.10.3.custom.css' %}" />

<a id="back_to_grid" href="#">Back to grid</a>
<p>

{% if csv_data|length > 0 %}
<h1>Pending users</h1>
<pre>
{% for data in csv_data %}{{ data.first_name }} {{ data.last_name }}
{% endfor %}
</pre>
{% endif %}

<script type="text/javascript">
$("#back_to_grid").button();

$("#back_to_grid").click(function()
{ 
    window.location = '{% url "grid" %}';
}
);
</script>

{% endblock %}
